.Dictionary h1 {
  font-size: 18px;
  font-weight: bold;
}

.Dictionary section {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgb(0 0 0/10%);
  margin: 20px;
}

.Dictionary input {
  width: 100%;
  border-radius: 6px;
  padding: 6px 4px;
  color: #333;
  border: 1px solid #afcfcf;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}
