.Synonyms {
  margin: 15px 0 0;
  padding: 0;
}
.Synonyms li {
  font-size: 13px;
  display: inline;
  padding-right: 10px;
  line-height: 1;
}

.Synonyms h4 {
  display: inline;
}

p {
  font-weight: bold;
  margin-bottom: 1px;
}
